<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
		<title>Calculator</title>
		<link rel="stylesheet" type="text/css" href="styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <script type="text/javascript" src="app.js"></script>
	</head>
    <body>
        <div ng-app="calculatorApp">
            <div ng-controller="CalculatorController" class="calc">
                <input type="text" class="screen" readonly ng-model="displayInput" />
                <div ng-repeat="key in keys">
                    <input type="button" value="{{key}}" ng-click="keyFunc(key)"/>
                </div>
            </div>
        </div>
    </body>
</html>