<div ng-app="calculatorApp">
    <div ng-controller="CalculatorController" class="calc">
        <input type="text" class="screen" readonly ng-model="displayInput" />

        <key label="1" func="digit(label)"></key>
        <key label="2" func="digit(label)"></key>
        <key label="3" func="digit(label)"></key>
        <key label="+" func="operation(label)"></key>

        <key label="4" func="digit(label)"></key>
        <key label="5" func="digit(label)"></key>
        <key label="6" func="digit(label)"></key>
        <key label="-" func="operation(label)"></key>

        <key label="7" func="digit(label)"></key>
        <key label="8" func="digit(label)"></key>
        <key label="9" func="digit(label)"></key>
        <key label="*" func="operation(label)"></key>

        <key label="c" func="operation(label)"></key>
        <key label="0" func="digit(label)"></key>
        <key label="=" func="operation(label)"></key>
        <key label="/" func="operation(label)"></key>
    </div>
</div>
